<div class="seccion-mascaras" ng-controller="mascarasCtrl as vm">
  <header class="usuario">
  	<h2>Gestión de ALFA</h2>
    <div class="datos-usuario">
      <span>Usuario</span>
      <br />
      <span>B040162</span>
    </div>
  </header>
  <div class="menu-gestion">
    <ul>
      <li class="boton-administracion"><span></span>Administración</li>
      <li class="boton-reportes"><span></span>Reportes</li>
      <li class="boton-sucursales"><span></span>Sucursales</li>
    </ul>
  </div>
  <div class="estructura-menu-contenido">
  	<!--Menu lateral Izquierdo-->
    <div class="contenido-menu">
    	<div class="sidebar-izquierdo">
    		<ul>
    			<li href="lista.link" ng-class="{'item-seleccionado':$index === 1}" ng-repeat="lista in vm.sidebarMenu"><a ng-href="{{lista.link}}">{{lista.titulo}}({{lista.cantidad}})</a></li>
    		</ul>
    	</div>
    </div>
  	<!--Contenido de la seccion mascaras-->
  	<div class="contenido-mascaras">
      <!--Panel de filtros-->
      <div class="panel-filtros-generico">
  	    <h2 class="titulo-seccion">Máscara</h2>
  	    <div class="filtro">
          <div class="boton-filtro" ng-click="vm.toggleFiltro()">
            <span></span>
            <span>Filtrar<span>
          </div>
        </div>
  	  </div>
      <!--Filtro activado -->
      <div class="panel-filtros" ng-if="vm.filtroActivo">
        <div class="close-filtro" ng-click="vm.toggleFiltro()"></div>
        <div class="filtro-interno">
          <p>Fecha de Alta</p>
          <select>
            <option value="">Desde</option>
            <option value="">Desde</option>
            <option value="">Desde</option>
          </select>
          <select>
            <option value="">Hasta</option>
            <option value="">Desde</option>
            <option value="">Desde</option>
          </select>
        </div>
        <div class="filtro-interno">
          <p>Fecha de Baja</p>
          <select>
            <option value="">Desde</option>
            <option value="">Desde</option>
            <option value="">Desde</option>
          </select>
          <select>
            <option value="">Hasta</option>
            <option value="">Desde</option>
            <option value="">Desde</option>
          </select>
        </div>
        <div class="filtro-interno">
          <p>Visibilidad</p>
          <select>
            <option value="">Todos</option>
            <option value="">Externa</option>
            <option value="">Interna comun</option>
          </select>
        </div>
        <div class="filtro-interno">
          <p>Asignado</p>
          <select>
            <option value="">Todos</option>
            <option value="">Si</option>
            <option value="">No</option>
          </select>
        </div>
        <div class="filtro-interno">
          <p>Estados</p>
          <select>
            <option value="">Todos</option>
            <option value="">Activa</option>
            <option value="">Desactivado</option>
          </select>
        </div>
        <div class="clear"></div>
      </div>

      <!--Tabla con el contenido de mascaras -->
      <table class="tabla-generica datos-mascara">
         <tr>
           <th>Máscara<span></span></th>
           <th>Prioridad<span></span></th>
           <th>Visibilidad<span></span></th>
           <th>Asignada<span></span></th>
           <th>Estado<span></span></th>
           <th>Fecha Alta<span></span></th>
           <th>Fecha Baja<span></span></th>
         </tr>
         <tr ng-repeat="datos in vm.tablaMascara">
           <td ng-bind="datos.mascara"></td>
           <td ng-bind="datos.prioridad"></td>
           <td ng-bind="datos.visibilidad"></td>
           <td ng-bind="datos.asignada"></td>
           <td ng-bind="datos.estado" ng-class="{'activo' : datos.estado === 'Activo', 'inhabilitado' : datos.estado === 'Inhabilitado' }"></td>
           <td ng-bind="datos.fechaAlta"></td>
           <td>
             <span>{{datos.fechaBaja}}</span>
             <span class="boton-tres-puntitos" ng-click="vm.abreOpciones($index)"></span>
             <div class="menu-adicional" ng-if="vm.opcionSeleccionada === $index">
               <ul>
                 <li>Inhabilitar</li>
                 <li>Duplicar</li>
               </ul>
             </div>
           </td>
         </tr>
      </table>
      <div class="paginador-generico">
        <span class="pag-anterior"></span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span class="pag-siguiente"></span>
      </div>
      <a href="#/nuevaMascara" class="boton-nuevo">+ Nueva Máscara</a>
  	</div>
  </div>
</div>
